/* Reset skeleton */
/* #Base 960 Grid
================================================== */

    .container                                  { position: inherit; width: auto; margin: inherit inherit; padding: inherit; }
    .column, .columns                           { float: inherit; display: inherit; margin-left: inherit; margin-right: inherit; }
    .row                                        { margin-bottom: inherit; display: inline; }

